@import url(material-icons.css);
nav {
    background-color: white;
    width: 100%; 
    height: 60px;
    position: fixed;
    bottom: 0;
    box-shadow: 0px 100px 1px 100px rgba(0, 0, 0, 0.2);
    z-index: 2;
    a {
      flex: 0 33.33%;
      height: 100%;
      border: 0;
      cursor: pointer;
      font-size: 105%;
      color: gray;
      text-transform: uppercase;
      font-weight: 600;
      border-radius: 1rem;
    }
    a:hover,
    a.actual {
      color: black;
      border-top: 3px solid blues;
    }
    a.actual {
      font-weight: 700;
    }
  }
  .flex {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .plus {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(38, 189, 248);
    text-decoration: none;
    margin-bottom: 3rem;
    border-radius: 4rem;
  }  
  .plus1{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(38, 189, 248);
    text-decoration: none;
  }  