@import url(footer-css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
color: black;
  cursor: pointer;
}
.titulo{
  font-weight: 700;
  font-size: 25px;
}
.horarios1{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}
.horarios{
  display: flex;
    flex-direction: column;
    height: auto;
    width: 85%;
    margin: auto;
    padding-bottom: 50px;
    gap: 30px;
    padding-top: 30px;
}
.horario {
  height: 8rem;
  width: 30rem;
  display: flex;
  padding: 1rem;
  background-color: rgb(38, 189, 248);
  border-radius: 2rem;
  margin: 1rem;
}

a:hover {
  color: black;
}

a:active {
  text-shadow: 0 0 10px black;
}


.f20 {
  font-size: 20pt;
}

.f25 {
  font-size: 25pt !important;
}

.f13 {
  font-size: 13pt;
}

body {
  height: 100vh;
  width: 100% ;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  overflow-x: hidden;
 
}

header.index {
  width: 100%;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  
  .portada {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 2rem;
    height: 90%;
    width: 70%;
    background-position: left;
    background-size: contain;
    background-color: rgb(38, 189, 248);
    background-repeat: no-repeat;

    & .saludo {
      height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    }

  
    }
  }

main.index {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;

  .offers {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 85%;
    margin: auto;
    padding-bottom: 50px;
    gap: 30px;
    padding-top: 30px;
  }

  & .oferta {
    position: relative;
    display: flex;
    flex: 0 0 160px;
    height: 160px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 10px 5px 20px -10px rgba(0, 0, 0, 0.418);

    & .img {
      display: grid;
      place-items: center;
      overflow: hidden;
      height: 100%;
      width: 42%;
      border-radius: 15px 0 0 15px;
      position: relative;

      img {
        height: auto;
        width: 50%;
      }

      & span {
        color: #ffffff;
        position: absolute;
        right: 20%;
        top: 10px;
      }
    }

    & .desc {
      position: absolute;
      background-color: #ffffff;
      right: 0;
      width: 65%;
      height: 100%;
      border-radius: 0 0 0 30px;
      display: flex;
      flex-direction: column;
      padding: 15px;
    }

  
  }

  & span.titulo {
    font-size: 1.3em;
    position: absolute;
    top: 0px;
    left: 5%;
  }

  .datos {
    margin: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 100%;

    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 10px;
    }
  }

  .descripcion-restaurante {
    margin: 0 30px 30px 30px;
  }
}

.link {

  position: absolute;
  top: 10px;
  left: 10px;
}

header.restaurante {
  height: 60%;
  width: 100%;
  background-position: center;
  background-size: cover;
  overflow: hidden;

  .portada {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    

    a {
      margin: 20px;
      font-size: 25pt;
    }
    img{
      height: 12rem;
    width: 12rem;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    }

    
  }

  .informacion {
    height: 20%;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    align-items: center;

    p {
      margin-top: 7px;
    }
  }
}


.flex {
  display: flex;
}

@media screen and (min-width: 1280px) {
  body.index{
    background-image: url(../img/fondo.jpg);
    }
  main.index {
    padding: 20px;
    .offers {
      width: 100%;
      display: flex !important;
      flex-direction: row;
      flex-wrap: wrap;
    }

    a {
      height: 160px;
      flex: 0 0 calc(50% - 15px);
    }
  }

  
}
@media screen and (min-width: 500px) {

}