@import url(Nav-futer.css);
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: sans-serif;
    text-decoration: none;
}

body {
    background-color: rgb(237, 237, 238);
}

.left {
    max-width: 500px;
    border: 1px solid #000;
    padding: 20px;
    float: left;
}

.select {
    display: inline-block;
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
}

.input {
    display: inline-block;
    border: none;
    border-bottom: 1px solid rgb(38, 189, 248);
    margin-bottom: 10px;
    width: 100%;
    padding: 5px;
    outline: none;
}

#titulo {
    font-weight: bold;
}

.dato .serie {
    width: 70%;
    margin-right: 15px;
}

.dato .valor {
    width: 20%;
}

.agregar {
    display: inline-block;
    height: 30px;
    width: 30px;
    background-color: rgb(38, 189, 248);
    border: none;
    color: #fff;
    border-radius: 50%;
    font-size: 20px;
    margin-top: 15px;
    cursor: pointer;
}

.crear-grafico {
    float: right;
    background-color: rgb(38, 189, 248);
    border: none;
    padding: 10px;
    color: #fff;
    margin-top: 15px;
    cursor: pointer;
}

.right {
    float: left;
    border: 1px solid #000;
    max-width: 605px;
    margin-left: 15px;
}