@import url(fonts.css);
@import url(colores.css);
@import url(fawesome-all.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: sans-serif;
  text-decoration: none;
}

body {
  height: 100vh;
  width: 100%;
  background-color: rgb(237, 237, 238);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
  width: 100%;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;

  .portada {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 2rem;
    height: 90%;
    width: 90%;
    background-image: url(./img/pastillitas.png);
    background-position: left;
    background-size: contain;
    background-color: rgb(221, 167, 158);
    background-repeat: no-repeat;
  }

  .presentacion {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &.saludo {

    height: 100%;
    width: 100%;
    color: white;
    z-index: 1;
  }

  &.subtexto {
    height: 100%;
    width: 100%;
    color: rgb(126, 121, 121);
    z-index: 1;
  }

  

  .tarjeta {
    height: 7.5rem;
    width: 25rem;
    display: flex;
    align-items: center;
    background-color: rgb(225, 225, 226);
    z-index: 1;
    border-radius: 2rem;
    padding: 1rem;
    .img {
      height: 5rem;
      width: 5rem;
      background-image: url(./img/pastilla-redonda.png);
      background-position: center;
      background-size: cover;
      object-position: center;
    }
  }

  &.texto {
    width: 75%;
    height: 100%;
  }
}

nav {
  background-color: white;
  width: 100%;
  height: 60px;
  position: fixed;
  bottom: 0;
  box-shadow: 0px 100px 1px 100px rgba(0, 0, 0, 0.2);
  z-index: 2;
  a {
    flex: 0 33.33%;
    height: 100%;
    border: 0;
    cursor: pointer;
    font-size: 105%;
    color: gray;
    text-transform: uppercase;
    font-weight: 600;
  }
  a:hover,
  a.actual {
    color: black;
    border-top: 3px solid blues;
  }
  a.actual {
    font-weight: 700;
  }
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.plus {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(38, 189, 248);
  text-decoration: none;
  margin-bottom: 3rem;
  border-radius: 4rem;

}
.pastillitas {
  height: 100%;
  width: 100%;
  display: flex;
  overflow-x: scroll;
  padding: 1rem;
  
  .pastillita {
    height: 7.5rem;
    width: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(225, 225, 226);
    z-index: 1;
    border-radius: 2rem;
    margin: 1rem;
    padding: 1rem;
    .img {
      height: 5rem;
      width: 5rem;
      background-image: url(./img/pastilla.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
  
  .texto {
    width: 75%;
    height: 100%;

  }
  input[type=checkbox]{
    width: 3rem;
    height: 3rem;
   }
}
.namepastilla {
  font-weight: 700;
  font-size: 1rem;
}
.descpastilla {
  font-weight: 600;
  font-size: 0.9rem;
}
.titulo {
  font-weight: 700;
  font-size: 2rem;
  padding: 1rem;
}
@media (orientation=portrait) {  
  header {
    width: 100%;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
  
    .portada {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1rem;
      border-radius: 2rem;
      height: 90%;
      width: 90%;
    
      background-position: left;
      background-size: contain;
     
      background-repeat: no-repeat;
    }
  
    .presentacion {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    &.saludo {
  
      height: 100%;
      width: 100%;
     
      z-index: 1;
    }
  
    &.subtexto {
      height: 100%;
      width: 100%;
     
      z-index: 1;
    }
  
    
  
    .tarjeta {
      height: 50%;
      width: 90%;
      display: flex;
      align-items: center;

      z-index: 1;
      border-radius: 2rem;
      padding: 1rem;
      .img {
        height: 5rem;
        width: 5rem;
        
        background-position: center;
        background-size: cover;
        object-position: center;
      }
    }
  
    &.texto {
      width: 75%;
      height: 100%;
    }
  }
  .pastillitas {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: scroll;
    padding: 1rem;
    .pastillita {
      height: 7.5rem;
      width: 25rem;
      display: flex;
      justify-content: center;
      align-items: center;
   
      z-index: 1;
      border-radius: 2rem;
      margin: 1rem;
      padding: 1rem;
      .img {
        height: 5rem;
        width: 5rem;
      
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
    
    .texto {
      width: 75%;
      height: 100%;
  
    }
   input[type=checkbox]{
    width: 2.5rem;
    height: 2.5rem;
   }
  }
 }   